body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url('/Users/wjy2004/Desktop/2017A3/2017A3/4.jpeg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

.container {
    width: 100%;
    padding: 20px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

h1, h2 {
    color: #8B4513; /* 巧克力色 */
}

form {
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
    background-color: #D2691E; /* 巧克力色背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="number"], input[type="file"], button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #A0522D; /* 边框颜色改为巧克力色 */
    border-radius: 4px;
    font-size: 16px;
    background-color: #8B4513; /* 亮巧克力色背景 */
    color: white; /* 白色文字 */
}

button {
    cursor: pointer;
    background-color: #8B4513; /* 亮巧克力色 */
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5A2D0C; /* 深巧克力色 */
}

ul {
    list-style-type: none;
    padding: 0;
}

.dateToggle {
    background-color: #D2691E; /* 浅巧克力色 */
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#statistics, #chocolatesByRating {
    display: inline-block;
    text-align: left;
    background-color: #D2691E; /* 巧克力色背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

canvas {
    display: block;
    margin: 20px auto;
}

button#deleteSelected, button#toggleDeleteButtons, button#clear {
    margin: 10px 5px;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

.search-container input,
.search-container button {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 16px;
}

.search-container button {
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #8B4513; /* 亮巧克力色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5A2D0C; /* 深巧克力色 */
}

.img-dest {
    display: block;
    width: 400px;
    margin-top: 20px;
}
