body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    text-align: center;
}
/* 基本样式 */
.container {
    width: 100%;
    padding: 20px;
}

/* 大屏设备样式 */
@media (min-width: 768px) {
    .container {
        width: 750px; /* 固定宽度 */
    }
}

/* 更大屏幕的样式 */
@media (min-width: 992px) {
    .container {
        width: 970px; /* 固定宽度 */
    }
}

h1, h2 {
    color: #FF69B4; /* 粉色 */
}

form {
    margin-bottom: 20px;
    display: inline-block; /* 使表单居中 */
    text-align: left; /* 表单内部对齐 */
    background-color: #ffe4e1; /* 粉色背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="number"], button {
    padding: 10px; /* 增加填充 */
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* 增大字体 */
}

button {
    cursor: pointer;
    background-color: #FF69B4; /* 粉色 */
    color: white;
    border: none;
    font-size: 16px; /* 增大字体 */
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493; /* 更深的粉色 */
}

ul {
    list-style-type: none;
    padding: 0;
}

.dateToggle {
    background-color: #FFB6C1; /* 更浅的粉色 */
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#statistics, #chocolatesByRating {
    display: inline-block;
    text-align: left;
    background-color: #ffe4e1; /* 粉色背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

canvas {
    display: block;
    margin: 20px auto;
}

button#deleteSelected, button#toggleDeleteButtons, button#clear {
    margin: 10px 5px;
}
.search-container {
    text-align: center; /* 居中容器内的内容 */
    margin-top: 20px; /* 在标题下留出一些空间 */
}

.search-container input,
.search-container button {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 16px; /* 调整字体大小以改善可读性 */
}

.search-container button {
    cursor: pointer; /* 按钮在鼠标悬停时显示指针 */
}


button {
    padding: 10px 20px;
    font-size: 16px;
    color: white; /* 文字颜色保持为白色，以确保对比度足够高，易于阅读 */
    background-color: #ff69b4; /* 设置按钮的默认背景颜色为亮粉色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493; /* 鼠标悬停时，按钮背景颜色变为深粉色 */
}


.img-dest {
    display: block;
    width:400px;
    margin-top:20px;
  }