body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], button {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}


.dateToggle {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}



